:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}

mat-grid-tile {
  background: lightblue;
}

section {
  display: table;
}

main {
  height: 100%;
}
  
  /* .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 140px;
  }
  


  .listing {
    background: var(--accent-color);
    border-radius: 30px;
    padding-bottom: 30px;
  }
  .listing-heading {
    color: var(--primary-color);
    padding: 10px 20px 0 20px;
  }
  .listing-photo {
    height: 250px;
    width: 100%;
    min-width: 250px;
    object-fit: cover;
    border-radius: 30px 30px 0 0;
  }
  .listing-location {
    padding: 10px 20px 20px 20px;
  }
  .listing-location::before {
    content: url("/assets/location-pin.svg") / "";
  }
  
  section.listing a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--primary-color);
  }
  section.listing a::after {
    content: "\203A";
    margin-left: 5px;
  }
  

  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .example-sidenav {
    padding: 20px;
  }



  .example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
} */

/*
 * This padding sets alignment of the nested nodes.
 */
/* .example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
} */

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 */
/* .example-tree div[role=group] > .mat-nested-tree-node {
  padding-left: 40px;
} */